* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
}

// Global
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
$darkGreyishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);
$lightGray: #eee;
$green: #03b597d4;
$blue: #3d8bd5;

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 10rem;

  img {
    width: 5rem;
  }
}

// section global styles
h1,
h3,
h4 {
  text-align: center;
}

p {
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 2em;
}

section {
  padding: 5rem 2em 0 2em;

  h1,
  h3 {
    margin-bottom: 1.25rem;
  }

  img {
    width: 100%;
  }

  .download-buttons {
    text-align: center;
  }

  .btn {
    width: 100%;
    max-width: 30rem;
    border: none;
    padding: 1em 0;
    border-radius: 50px;
    color: #fff;
    font-size: 1.1rem;
  }

  .green {
    background-color: $green;
    box-shadow: -2px 3px 3px 0px #00987f;
  }

  .blue {
    background-color: $blue;
    box-shadow: -2px 3px 3px 0px #346694;
    margin-top: 1em;
  }
}

.history {
  padding-top: 0;
}

.keep-track {
  margin-top: 5rem;

  img {
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 2rem;
  }
}

.supercharge {
  .feature-item:first-child {
    margin-top: 5rem;
  }
  h4 {
    margin-bottom: 1rem;
  }
  .icon {
    text-align: center;

    img {
      width: 2rem;
      height: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 10rem;
    margin-bottom: 5rem;
  }
}

footer {
  background-color: $lightGray;
  margin-top: 7rem;
  padding: 3rem 0;
  .footer-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: 4rem;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        padding: 1rem 0;

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }

    .socialIcons {
      margin-top: 2rem;
      i {
        padding: 0 1em;
        font-size: 1.5rem;
      }
    }
  }

  .frontendmentor {
    padding-top: 2em;

    .attribution {
      font-size: 11px;
      opacity: 1;
      text-align: center;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
}

@media (min-width: 900px) {
  section {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    h1 {
      margin: 1.25rem auto;
    }

    p {
      margin: 0 auto 3rem auto;
    }
  }

  .download-buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    button {
      width: 50%;
    }
    .btn {
      width: 30%;
      min-width: 210px;
      margin: 0 1rem;
    }
  }

  .keep-track {
    margin-top: 0;
    width: 100%;

    // this section has a different width, so h1 & p must be 60% of the above 100%
    h1,
    p {
      width: 60%;
    }

    .content-wrapper {
      display: flex;

      .computerImage {
        margin-left: -3rem;
      }

      .computerImage,
      .article-wrapper {
        // flex: 1;
        width: 50%;
      }
    }
  }

  .supercharge {
    width: 80%;
    margin: 0 auto;

    .features-wrapper {
      display: flex;

      .feature-item:first-child {
        margin-top: 0;
        padding-left: 0;
      }

      .feature-item:last-child {
        margin-top: 0;
        padding-right: 0;
      }

      .feature-item {
        // width: 33.3333%;
        flex: 1;
        padding: 0 1em 0 1em;
      }
    }
  }

  .companies {
    flex-direction: row;
    width: 85%;
    margin: 4em auto 4em auto;

    .img-logo {
      width: 20%;
      padding: 0 1.5em 0 1.5em;
    }
  }

  footer {
    .footer-wrapper {
      width: 80%;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      align-items: center;

      .footer-icon,
      .socialIcons {
        width: 20%;
        display: flex;
        align-items: center;
      }
      .footer-icon {
        justify-content: flex-start;
      }
      .socialIcons {
        justify-content: flex-end;
      }
      .footer-links {
        width: 60%;

        ul {
          flex-direction: row;
          justify-content: left;
          flex-wrap: wrap;

          li {
            width: 27%;
            padding: 0 0 1em 0;
          }
        }
      }
      .socialIcons {
        margin-top: 0;
        i {
          padding: 0 0.4em 0 0.4em;
        }
      }
    }
  }
}
